<div class="container-fluid mt-5">
    <div class="row mt-3">
        <div class="col-lg-3 mt-3 mb-3" *ngFor="let newsarticles of resultArticles | paginate: 
        { itemsPerPage:8 , currentPage: p } ">
            <div class="box">
                <img width="100%" src={{newsarticles.urlToImage}} alt="Card image cap">
                    <h5 class="mb-3 mt-3">{{newsarticles.title}}</h5>
                    <!-- <p class="card-text">{{newsarticles.description}}</p> -->
                    <a href="{{newsarticles.url}}" target="_blank" class="btn btn-dark">Read More</a>
                </div>
        </div>
    </div>
</div>
<pagination-controls
(pageChange)="p = $event" 
class="float-left justify-content-center">
</pagination-controls>

